* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  position: relative;
  background-color: #2e8b3a;
  font-family: 'Bebas Neue', sans-serif;
}

.voltar {
  position: absolute;
  left: 20px; 
}

.voltar img {
  width: 170px;
  height: 50px;
}

.button a{
  color: white;
  text-decoration: none;
  font-size: 25PX;
  padding-left: 30px;
}

.linha-header {
  height: 5px;
  background: linear-gradient(to right, #1A6626);
  margin-bottom: 40px; 
}